<div class="container main-container">
<h1>Sobre Comic App</h1>
<hr>  
  <p>
      Officia nostrud cupidatat ullamco incididunt fugiat laboris ullamco occaecat ea elit mollit voluptate cillum adipisicing. Commodo sunt dolor exercitation id do velit tempor irure. Cupidatat nulla id pariatur irure labore consequat ea sunt ullamco officia aliqua.
<br> <br>Officia nostrud cupidatat ullamco incididunt fugiat laboris ullamco occaecat ea elit mollit voluptate cillum adipisicing. Commodo sunt dolor exercitation id do velit tempor irure. Cupidatat nulla id pariatur irure labore consequat ea sunt ullamco officia aliqua.

  </p>
</div>